{% block header %}
  <aside class="sidebar">
    <nav>
      <ul>
        <li>
          <a href="profile.html">
            {% if user.is_authenticated %}
              Profile {{ user.username }}
            {% else %}
              Profile
            {% endif %}
          </a>
        </li><br>
        <li><a href="dashboard.html">Dashboard</a></li>
        <li><a href="{% url 'house_core:apartments_view' %}">Apartments</a></li>
        <li><a href="{% url 'house_core:items_view' %}">Items</a></li>
        <li><a href="reports.html">Reports</a></li>
      </ul>
    </nav>
  </aside>
{% endblock %}