{% block header %}
  <aside class="sidebar">
    <nav>
      <ul>
        <li>
          <a href="{% url 'house_core:profile_view' user.pk %}">
            {% if user.is_authenticated %}
              Profile {{ user.username }}
            {% else %}
              Profile
            {% endif %}
          </a>
        </li>
        <br>
        <li><a href="{% url 'house_core:apartments_view' %}">Apartments</a></li>
        <li><a href="{% url 'house_core:rooms_view' %}">Rooms</a></li>
        <li><a href="{% url 'house_core:items_view' %}">Items</a></li>
        <li><a href="{% url 'house_core:reports_view' %}">Reports</a></li>
      </ul>
    </nav>
  </aside>
{% endblock %}