{% extends 'base/base.html' %}

{% block title %}
{% endblock %}


{% block content %}
  <main>
    {% block h1 %}
    {% endblock %}
    <p>Are u sure you want to delete:
      {% block delete_object %}
      {% endblock %}
    </p>
    <form class="form" action="#" method="post">
      {% csrf_token %}
      {{ form }}
      <input name="referer" type="hidden" value="{{ request.META.HTTP_REFERER }}">
      <button type="submit" class="btn">Видалити</button>
      <button type="button" onclick="window.history.back();" class="btn">Cancel</button>
    </form>
  </main>
{% endblock %}

